name: Discord PR Notification
permissions:
  contents: read

on:
  pull_request:
    types:
      - opened
      # - synchronize
      - closed
  push:
    branches:
      - main

jobs:
  notify_pr:
    uses: ./.github/workflows/discord_pr.yml
    with:
      pr_title: ${{ github.event.pull_request.title }}
      pr_number: ${{ github.event.pull_request.number }}
      pr_url: ${{ github.event.pull_request.html_url }}
      repo_full_name: ${{ github.repository }}
    secrets:
      discord_webhook: ${{ secrets.DISCORD_WEBHOOK_URL }}

  notify_push:
    uses: ./.github/workflows/discord_push.yml
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    with:
      branch_name: ${{ github.ref }}
      commit_message: ${{ github.event.head_commit.message }}
      commit_url: ${{ github.event.head_commit.url }}
      repo_full_name: ${{ github.repository }}
    secrets:
      discord_webhook: ${{ secrets.DISCORD_WEBHOOK_URL }}

  dummy:
    runs-on: ubuntu-latest
    steps:
      - name: Make sure the action is always successful
        run: echo happy
